#serviceList {
    background-color: white !important;
    justify-content: center !important;
    color: black !important;
}

#serviceHead {
    text-align: center;
    font-size: x-large;
    color: white;
    margin-top: 35px;
}

#servicePage {
    margin-left: 50px;
    margin-right: 50px;
    color: black !important;
}

#trainingDesc {
    color: white;
    text-align: center;
    font-size: larger;
    border: 5px solid #E2FCEF ;
    background-color: #7D8491;
    margin-right: 25px;
    margin-left: 25px;

}

#evalutions {
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: larger;
}

span {
    color: rgb(59, 172, 59);
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");


/* Style the accordion section */
.accordion__section {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  /* Style the buttons that are used to open and close the accordion panel */
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 35px;
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
    width: 500px;
    
  }
  
  
  /* Style the accordion content title */
  .accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    width: 1000px;
  }
  
  /* Style the accordion chevron icon */
  .accordion__icon {
    margin-left: auto;
    transition: transform 0.6s ease;
  }
  
  /* Style to rotate icon when state is active */
  .rotate {
    transform: rotate(90deg);
  }
  
  /* Style the accordion content panel. Note: hidden by default */
  .accordion__content {
    background-color: white;
    overflow: auto;
    /* transition: max-height 0.6s ease; */
  }
  
  /* Style the accordion content text */
  .accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
  }